<div class="mx-auto md:w-2/3 w-full">
  <div class="page-title">
    <h2 class="title">Returns</h1>
  </div>

  <fieldset class="form-wrapper">
    <div class="form-container"> 
      <div class="form-description">
        <legend class="form-title">Return Reasons</legend>
        <span class="form-subtitle">
          Add or edit return reasons you would like to show the customers during the return request process.
        </span>
      </div>

      <div class="nested-form-wrapper">

        <%= render "form", storefront: @storefront %>
       </div>
    </div>
  </fieldset>
</div>
