@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #modal {
    @apply absolute z-10 p-4 flex-col items-end gap-6 shrink-0 left-2/4 top-2/4 -translate-y-1/2 -translate-x-1/2
  }

  .mb-4 > input {
    @apply border-gray-200
  }

  .checkbox-wrapper {
    padding: 4px 8px 0px 0px
  }

  input[type=checkbox]:focus {
    box-shadow: none;
  }

  input[type=checkbox]:checked {
    background-image: url("visible.svg");
  }

  input[type=checkbox] {
    border: unset;
    height: 30px;
    width: 30px;
    background: #fff;
    color: #fff;
    background-image: url("not-visible.svg");
  }
}
